* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.flex-24 {
  flex: 0 1 24%;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color : #000;
}
svg {
  font-size: 2rem !important;
}
